# ===================================
# Angular
# ===================================

dist/
.angular/
.angular/cache/
/out-tsc
/tmp
/bazel-out
# Backend
/backend/node_modules
/backend/.env

# ===================================
# Node.js
# ===================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===================================
# Environment Files
# ===================================

.env
.env.*

# ===================================
# IDEs
# ===================================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace

# ===================================
# Logs
# ===================================

logs
*.log

# ===================================
# Coverage
# ===================================

/coverage

# ===================================
# Temporary Files
# ===================================

.history/
.sass-cache/
connect.lock
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# ===================================
# OS Files
# ===================================

.DS_Store
Thumbs.db